* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #333;
}

.title {
    background: linear-gradient(330deg, #e05252 0%, #99e052 25%, #52e0e0 50%, #9952e0 75%, #e05252 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 30px;
    font-size: 3rem;
    animation: shine 1s linear infinite;

    @keyframes shine {
        to {
            background-position: 200% center;
        }
    }
}
